<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
</head>

{{ form.autocomp.label }}: {{ form.autocomp }}
<br>
<br>
<button type="submit" class="button" onclick="get_ep_rec()">
    Recommend Similar
</button>
<br>
<br>
<br>
<br>
{{ form.toplist.label }}: {{ form.toplist }}
<br>
<br>
<button type="submit" class="button" onclick="get_tpc_rec()">
    Recommend Topic
</button>
<br>
<br>
<br>
<br>
<script>
    $(function() {
        $.ajax({
            url: '{{ url_for("autocomplete") }}'
            }).done(function (data){
                $('#city_autocomplete').autocomplete({
                    source: data,
                    minLength: 2
                });
            });
        });

    function get_ep_rec() {
        $.ajax({
            type: 'POST',
            url: '{{ url_for("ep_rec") }}',
            data: $('#city_autocomplete')
            }).done(function (data){
                print_recs(data)
            });
        };

        function get_tpc_rec() {
        $.ajax({
            type: 'POST',
            url: '{{ url_for("topic_rec") }}',
            data: $('#topic_list')
            }).done(function (data){
                print_recs(data)
            });
        };        

    function print_recs(data) {
        var re_tab = document.getElementById("rec_table");

        if (re_tab) {
            re_tab.remove();
        }

        var eps = data['episodes']
        var descs = data['descs']
        var urls = data['urls']
        
        let table = document.createElement("table");
        table.setAttribute("id", "rec_table")
        var colnames = ['Episode', 'Description', 'URL']
        
        for(i=0; i<eps.length; i++){
            let row = table.insertRow();
            let cell = row.insertCell();
            var text = document.createTextNode(eps[i]);
            cell.appendChild(text);

            cell = row.insertCell();
            var text = document.createTextNode(descs[i]);
            cell.appendChild(text);

            cell = row.insertCell();
            var url = document.createElement("a")
            var link = document.createTextNode("link")
            url.href = urls[i]
            url.title = "Link"
            url.appendChild(link)
            cell.appendChild(url);
        };

        let thead = table.createTHead();
        let row = thead.insertRow();
        for( i=0; i<colnames.length; i++ ){
            var th = document.createElement("th")
            var text = document.createTextNode(colnames[i])
            th.appendChild(text)
            row.appendChild(th)
            };
        
        document.body.appendChild(table)
    };
</script>

<br>
<body>

</body>